.photo-list {
  list-style: none;
  min-width: auto;
  padding: 0;

  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
  }
}

.photo-list__item {
  margin: 0 auto;

  @media (min-width: $tablet) {
    margin: 0;
  }
}
