.button {
  text-align: center;
  font: inherit;
  text-transform: inherit;
  color: #ffffff;
  width: 280px;
  background-color: #81b3d2;
  padding: 15px 0;
  border: none;
}

.search__button a {
  color: #ffffff;
}
