.city-filling {
  display: flex;
  justify-content: space-between;
  text-align: start;
  color: #000000;
  background-color: #ffffff;
  padding: 26px 18px 42px 18px;
}

.city-filling__text {
  max-width: 274px;
  margin: 10px 0 0 12px;
}

.city-filling p {
  margin-bottom: 0;
}

.city-filling__image {
  width: 40px;
  height: 38px;
}
