.introduction {
  text-align: center;
  background-color: #ffffff;
  padding: 43px 8px 20px;
}

.introduction h1 {
  font-size: $font-size-heading;
  max-width: 450px;
  margin: 0 auto 20px;
}

.introduction p {
  font-size: $font-size-paragraph;
  color: $color-paragraph;
  max-width: 450px;
  margin: 0 auto;
}

@media (max-width: $tablet) {
  .introduction {
    position: relative;
    width: $mobile;
    border-bottom: 1px solid rgba(1, 1, 1, 0.2);
    &::before {
      content: "";
      background-image: url("../img/bg-intro-triangle-mobile.svg");
      position: absolute;
      left: -1px;
      top: -25px;
      width: $mobile;
      height: 26px;
    }
  }
}

@media (min-width: $tablet) {
  .introduction {
    position: relative;
    width: $tablet;
    border-bottom: none;
    &::before {
      content: "";
      background-image: url("../img/bg-intro-triangle-tablet.svg");
      position: absolute;
      left: 0;
      top: -56px;
      width: $tablet;
      height: 57px;
    }
  }
}
@media (min-width: $desktop) {
  .introduction {
    position: relative;
    width: $desktop;
    margin: 0 auto;
    &::before {
      content: "";
      background-image: url("../img/bg-intro-triangle-desktop.svg");
      position: absolute;
      left: 0;
      top: -56px;
      width: $desktop;
      height: 57px;
    }
  }
}
