@media (min-width: $tablet) {
  .main-nav__list {
    display: flex;
  }
}

.main-nav {
  width: auto;
  margin: 0;
}

.main-nav__list {
  list-style: none;
  width: auto;
}

.site-list {
  padding: 0;
  margin: 0;
}

.site-list__item {
  width: $mobile;
  text-align: center;
  background-color: $palette-primary;
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);
}

.site-list__item a {
  display: block;
  font: inherit;
  font-weight: bold;
  line-height: 40px;
  color: $color-text-on-primary;
  padding: 10px 0;
}
