@media (max-width: $tablet) {
  .photo-item__image-tablet,
  .photo-item__image-desktop {
    display: none;
  }
}

@media (min-width: $tablet) {
  .photo-item__image-mobile,
  .photo-item__image-desktop {
    display: none;
  }
  .photo-item__image-tablet {
    display: block;
  }
}

@media (min-width: $desktop) {
  .photo-item__image-mobile,
  .photo-item__image-tablet {
    display: none;
  }
  .photo-item__image-desktop {
    display: block;
  }
}

.photo-item {
  padding: 22px 20px 0;
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);
}

.photo-item__image {
  line-height: 0;
  margin-bottom: 22px;
}

.photo-item h3 {
  font-size: 14px;
  line-height: 24px;
  margin: 0 0 5px;
}

.photo-item p {
  line-height: 24px;
  text-transform: none;
  margin: 0 0 5px;
}

.photo-item__like {
  margin: 0 0 10px;
}
