.question {
  text-align: center;
  padding: 25px 15px 25px;
}

.question h2 {
  font-size: $font-size-heading;
}

.question p {
  font-size: $font-size-paragraph;
  line-height: 21px;
}

@media (max-width: $tablet) {
  .question {
    width: $mobile;
  }
}

@media (min-width: $tablet) {
  .question {
    width: $tablet;
  }
}

@media (min-width: $desktop) {
  .question {
    width: $desktop;
  }
}

