.button {
  text-align: center;
  font: inherit;
  text-transform: inherit;
  color: $color-text-on-primary;
  width: 280px;
  background-color: $palette-primary;
  border: none;
}

.button a {
  display: block;
  color: $color-text-on-primary;
  font-size: $font-size-heading-mobile;
  line-height: $line-height-heading;
  padding: 16px;
}

.button:hover {
  background-color: $palette-primary-hover;
}

.button:active {
  background-color: $palette-primary-active;
}

.button a:active {
  color: $color-text-active;
}

.button:disabled {
  background-color: $palette-primary-disabled;
}
