.list-place__item-border {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 1px;
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);
}

@media (min-width: $tablet) {
  .list-place__item-border {
    display: none;
  }
}
