.modal {
  width: $mobile;
  padding: 46px 20px 0 20px;
  box-shadow:
    0 10px 10px 0 rgba(0, 1, 1, 0.2),
    0 -5px 5px 0 rgba(0, 1, 1, 0.2);
}

.modal h3 {
  font-size: $font-size-heading-mobile;
  max-width: 247px;
  margin: 0 auto 10px;
}

.modal p {
  font-size: $font-size-paragraph-mobile;
  line-height: 24px;
  max-width: 246px;
  color: $color-paragraph;
  margin: 0 auto 20px;
}

.modal__button {
  margin-bottom: 35px;
}
