@media (max-width: $tablet) {
  .advantages {
    width: $mobile;
  }
}

@media (min-width: $tablet) {
  .advantages {
    width: $tablet;
  }
}

@media (min-width: $desktop) {
  .advantages {
    width: $desktop;
    margin: 0 auto;
  }
}

.advantages__list-plase {
  margin: 0;
}
