.advantages {
  min-width: $mobile;
  padding: 0;
}

.advantages__list-place {
  margin: 0;
}

@media (max-width: 767px) {
  .advantages:nth-of-type(2n) .list-place__image {
    order: 1;
  }
}

@media (min-width: $desktop) {
  .advantages {
    max-width: $desktop;
    margin: 0 auto;
  }
}
