@media (min-width: 320px) {
  .form {
    width: 320px;
  }
}

@media (min-width: 768px) {
  .form {
    width: 768px;
  }
}

@media (min-width: 1200px) {
  .form {
    width: 1200px;
  }
}

.form {
  text-align: center;
}

.form_fieldset {
  margin: 0;
}
