.form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  min-width: $mobile;
  text-align: center;
  padding: 0;
  margin: 0 auto;
  background-color: $color-text-on-primary;
}

@media (min-width: $tablet) {
  .form {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 60px 0 60px;
  }
}

@media (min-width: $desktop) {
  .form {
    max-width: $desktop;
  }
}
