@media (max-width: $tablet) {
  .form {
    width: $mobile;
  }
}

@media (min-width: $tablet) {
  .form {
    width: $tablet;
  }
}

@media (min-width: $desktop) {
  .form {
    width: $desktop;
  }
}

.form {
  text-align: center;
}

.form_fieldset {
  margin: 0;
}
