.form-block {
  width: 320px;
  padding: 24px 20px 5px;
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);
}

.form-block h3 {
  text-align: center;
}

.form-block label {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: 14px;
  color: #333333;
  width: 320px;
}

.form-block input {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  flex-basis: auto;
  background-color: #f2f2f2;
  border: none;
  padding: 20px 0 17px 22px;
  margin: 0 0 20px 14px;
}

.form-block__button {
  display: flex;
}
