.introduction {
  text-align: center;
  background-color: #ffffff;
  padding: 39px 8px 27px;
  position: relative;
  min-width: $mobile;
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);

  @media (min-width: $tablet) {
    position: relative;
    border-bottom: none;
  }

  @media (min-width: $desktop) {
    position: relative;
    max-width: $desktop;
    margin: 0 auto;
  }

  &--index {
    padding: 41px 8px 24px;
    border-bottom: none;
  }
}

.introduction h1 {
  font-size: $font-size-heading-mobile;
  line-height: $line-height-heading;
  font-weight: bold;
  color: $color-heading;
  max-width: 450px;
  margin: 0 auto 25px;

  @media (min-width: $tablet) {
    font-size: $font-size-heading-tablet + 9px;
    max-width: 600px;
  }
}

.introduction--index h1 {
  margin: 0 auto 27px;

  @media (min-width: $tablet) {
    font-size: $font-size-heading-tablet;
  }
}

.introduction p {
  font-size: $font-size-paragraph;
  line-height: $line-height-heading - 2px;
  color: $color-paragraph;
  max-width: 550px;
  margin: 0 auto;

  @media (min-width: $tablet) {
    font-size: $font-size-paragraph;
    color: $color-paragraph;
    max-width: 540px;
    margin: 0 auto 20px;
  }
}

.introduction--index p {
  line-height: $line-height-heading;
  margin: 0 auto 1px;

  @media (min-width: $tablet) {
    max-width: 550px;
  }
}

.introduction img {
  @media (max-width: 767px) {
    position: absolute;
    left: 0;
    bottom: -17px;
    width: 100%;
  }
}
