.introduction {
  min-width: $mobile;
  text-align: center;
  background-color: #ffffff;
  padding: 39px 8px 27px;
  margin: 0;
  position: relative;
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);

  @media (min-width: $tablet) {
    border-bottom: none;
    padding: 74px 8px 50px;
  }

  @media (min-width: $desktop) {
    max-width: $desktop;
    margin: 0 auto;
    padding: 112px 8px 50px;
  }

  &--index {
    padding: 41px 8px 23px;
    border-bottom: none;

    @media (min-width: $tablet) {
      padding: 52px 8px 48px;
    }
  }

  &--form {
    @media (min-width: $mobile) {
      padding: 39px 8px 17px;
    }

    @media (min-width: $tablet) {
      padding: 74px 8px 55px;
    }

    @media (min-width: $desktop) {
      padding: 112px 8px 40px;
    }
  }
}

.introduction h1 {
  font-size: $font-size-heading-mobile;
  line-height: $line-height-heading;
  font-weight: bold;
  color: $color-heading;
  max-width: 450px;
  margin: 0 auto 25px;

  @media (min-width: $tablet) {
    font-size: $font-size-heading-tablet + 9px;
    max-width: 600px;
    margin: 0 auto 30px;
  }
}

.introduction--index h1 {
  margin: 0 auto 25px;

  @media (min-width: $tablet) {
    font-size: $font-size-heading-tablet;
    margin: 0 auto 29px;
  }
}

.introduction p {
  font-size: $font-size-paragraph;
  line-height: $line-height-heading - 2px;
  color: $color-paragraph;
  max-width: 550px;
  margin: 0 auto;

  @media (min-width: $tablet) {
    max-width: 500px;
    margin: 0 auto 20px;
  }
}

.introduction--index p {
  line-height: $line-height-heading;
  margin: 0 auto 1px;

  @media (min-width: $tablet) {
    max-width: 550px;
  }
}

.introduction img {
  @media (max-width: 767px) {
    position: absolute;
    left: 0;
    bottom: -17px;
    width: 100%;
  }
}
