@media (max-width: $tablet) {
  .list-place {
    width: $mobile;
    padding: 0;
    margin: 0;
  }
  .list-place__image-mobile {
    width: 320px;
    height: 260px;
    background-color: $palette-secondary;
  }
  .list-place__image-tablet,
  .list-place__image-desktop {
    display: none;
  }
}

@media (min-width: $tablet) {
  .list-place {
    width: $tablet;
    display: flex;
    padding: 0;
    margin: 0;
  }
  .list-place__image-mobile,
  .list-place__image-desktop {
    display: none;
  }
  .list-place__image-tablet {
    display: block;
  }
}

@media (min-width: $desktop) {
  .list-place {
    width: $desktop;
  }
  .list-place__image-mobile,
  .list-place__image-tablet {
    display: none;
  }
  .list-place__image-desktop {
    display: block;
  }
}

.list-place__image {
  line-height: 0;
}

.list-place h3 {
  font-size: $font-size-heading;
  margin-top: 0;
}

.list-place p {
  font-size: $font-size-paragraph;
  line-height: 21px;
  margin-top: 0;
}
