@media (min-width: 320px) {
  .list-place {
    width: 320px;
    padding: 0;
    margin: 0;
  }
}

@media (min-width: 768px) {
  .list-place {
    width: 768px;
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: 1200px) {
  .list-place {
    width: auto;
  }
}

.list-place__image {
  line-height: 0;
}
