@media (max-width: $tablet) {
  .photo__list {
    width: $mobile;
  }
}

@media (min-width: $tablet) {
  .photo__list {
    width: auto;
  }
  .photo-list__item {
    margin: 0 auto;
  }
}

@media (min-width: $desktop) {
  .photo__list {
    width: $desktop;
  }
}

.photo__list {
  padding: 0;
}

.photo-list__item {
  margin: 0 auto;
}
