@media (max-width: $tablet) {
  .photo {
    width: $mobile;
  }
}

@media (min-width: $tablet) {
  .photo {
    width: $tablet;
    margin: 0;
  }
}

@media (min-width: $desktop) {
  .photo {
    width: $desktop;
    margin: 0 auto;
  }
}

.photo {
  padding: 0;
}

.photo__list {
  margin: 0;
}
