@media (max-width: 768px) {
  .search {
    width: 320px;
  }
  .map-tablet {
    display: none;
  }
  .map-desktop {
    display: none;
  }
}

@media (min-width: 768px) {
  .search {
    width: 768px;
  }
  .map-mobile {
  display: none;
  }
  .map-tablet {
    display: block;
  }
  .map-desktop {
    display: none;
  }
}

@media (min-width: 1200px) {
  .search {
    width: 1200px;
    margin: 0 auto;
  }
  .map-mobile {
    display: none;
    }
    .map-tablet {
      display: none;
    }
    .map-desktop {
      display: block;
    }
}

.search {
  padding: 0;
}


.search__search-question {
  margin: 0;
}
