@media (max-width: $tablet) {
  .video {
    width: $mobile;
  }
}

@media (min-width: $tablet) {
  .video {
    width: $tablet;
  }
}

@media (min-width: $desktop) {
  .video {
    width: $desktop;
    margin: 0 auto;
  }
}

.video__question {
  margin: 0;
}
