.footer {
  text-align: center;
  padding: 31px 85px;
}

.footer__hashtag {
  font-size: 21px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 41px;
}

.footer__social {
  margin: 35px 0 40px;
}

@media (max-width: $tablet) {
  .footer {
    width: $mobile;
  }
}

@media (min-width: $tablet) {
  .footer {
    width: $tablet;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: $desktop) {
  .footer {
    width: $desktop;
    margin: 0 auto;
  }
}
