.city-filling {
  display: flex;
  width: 100%;
  text-align: start;
  color: #000000;
  background-color: #ffffff;
  padding: 12px 5.6% 12px;

  @media (max-width: 767px) {
    &:nth-of-type(2) {
      order: 1;
    }
  }

  @media (min-width: $tablet) {
    display: block;
    text-align: center;
    width: 33.33%;
    padding: 63px 18px 65px;
  }
}

.city-filling__text {
  width: 240px;
  margin: 10px 0 0 3.75%;

  @media (min-width: $tablet) {
    display: inline;
    margin: 0 auto;
  }
}

.city-filling h3 {
  font-size: $font-size-heading-mobile;
  line-height: $line-height-heading;
  margin: 0 0 13px;

  @media (min-width: $tablet) {
    font-size: $font-size-heading-tablet;
    margin: 0 auto 20px;
  }
}

.city-filling p {
  font-size: $font-size-paragraph;
  line-height: $line-height-paragraph;
  color: $color-paragraph;
  margin: 0;

  @media (min-width: $tablet) {
    font-size: $font-size-paragraph;
    line-height: $line-height-paragraph;
    max-width: 180px;
    margin: 0 auto 15px;
  }

  @media (min-width: $desktop) {
    max-width: 320px;
  }
}

.city-filling__image {
  text-align: center;
  width: 40px;
  height: 38px;

  @media (min-width: $tablet) {
    width: 77px;
    height: 75px;
    margin: 0 auto 25px;
  }
}

.city-filling__image img {
  width: 100%;
  height: 100%;
}
