.attractions {
  position: relative;
  width: 100%;
  padding: 18px 6% 0;
  border: none;
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);

  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: none;
    padding: 80px 9.25% 34px;
    border-top: 1px solid rgba(1, 1, 1, 0.2);
  }

  @media (min-width: $desktop) {
    justify-content: flex-start;
    border-top: 1px solid rgba(1, 1, 1, 0.2);
    padding: 68px 0 35px;
  }
}

.attractions__checkbox-wraper {
  padding-top: 3px;
  margin: 0 0 51px 0;

  &:last-of-type {
    margin: 0 0 41px 0;
  }

  @media (min-width: $tablet) {
    padding-top: 0;
    margin: 0 0 60px 0;
  }
}

.attractions__checkbox-wraper:nth-of-type(2n) {
  @media (min-width: $tablet) {
    margin: 0 0 60px -9px;
  }
}

.attractions h2 {
  font: inherit;
  font-size: $font-size-heading-mobile;
  font-weight: bold;
  line-height: $line-height-heading;
  color: $color-heading;
  text-align: center;
  width: 270px;
  margin: 0 auto 28px;

  @media (min-width: $tablet) {
    font-size: $font-size-heading-tablet;
    width: 400px;
    padding: 0 40px;
    background-color: $color-text-on-primary;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
