.checkbox {
  text-align: start;
  width: 100%;
  flex-grow: 1;

  @media (min-width: $tablet) {
    width: 50%;
    text-align: left;
    padding-left: 35px;
  }

  @media (min-width: $desktop) {
    display: flex;
    justify-content: space-between;
    max-width: 206px;
    padding: 0;
  }
}

.checkbox__input {
  @include input-none;
}

.checkbox__label {
  @include radio-checkbox-label;

  width: 310px;
  padding-left: 30%;

  @media (min-width: $desktop) {
    padding-left: 65px;
  }
}

.checkbox__label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  width: 56px;
  height: 56px;
  background-color: #f2f2f2;
  border-radius: 3px;
}


.checkbox__label:hover::before {
  background-color: #e5e5e5;
}

.checkbox__label:active::before {
  background-color: #d5d5d5;
}

.checkbox__input:checked + .checkbox__label::before {
  width: 56px;
  height: 56px;
  background:
    url("../img/icon-tick.svg") no-repeat,
    #f2f2f2;
  background-position: center;
  border-radius: 3px;
}

.checkbox__input:checked + .checkbox__label:hover::before {
  background:
    url("../img/icon-tick.svg") no-repeat,
    #e5e5e5;
  background-position: center;
}

.checkbox__input:checked + .checkbox__label:active::before {
  background:
    url("../img/icon-tick-active.svg") no-repeat,
    #d5d5d5;
  background-position: center;
}

.checkbox__input:disabled + .checkbox__label::before {
  background: #d5d5d5;
}

.checkbox__input:focus + .checkbox__label::before {
  box-shadow: 0 0 0 2px rgba(109, 167, 253, 0.993);
}
