.form-block {
  position: relative;
  width: 100%;
  padding: 19px 6% 10px;
  border: none;
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);

  @media (min-width: $tablet) {
    border: none;
    padding: 0;
  }

  &--name {
    @media (max-width: 767px) {
      order: -2;
    }

    @media (min-width: $tablet) {
      width: 50%;
      padding-left: 57px;
    }

    @media (min-width: $desktop) {
      width: 50%;
      padding-left: 78px;
    }
  }

  &--contact {
    padding: 18px 6% 18px;

    @media (max-width: 767px) {
      order: -1;
    }

    @media (min-width: $tablet) {
      width: 100%;
      padding: 38px 0 57px;
      margin: 59px auto 0;
      border-top: 1px solid rgba(1, 1, 1, 0.2);
    }

    @media (min-width: $desktop) {
      display: flex;
      flex-wrap: wrap;
      padding: 80px 0 57px;
    }
  }
}

.form-block h2 {
  font: inherit;
  font-size: $font-size-heading-mobile;
  font-weight: bold;
  line-height: $line-height-heading;
  text-align: center;
  color: $color-heading;
  width: 270px;
  margin: 0 auto 16px;

  @media (min-width: $tablet) {
    font-size: $font-size-heading-tablet;
    text-align: left;
    width: 290px;
    margin: 0 0 52px;
  }
}

.form-block--contact h2 {
  margin: 0 auto 18px;

  @media (min-width: $tablet) {
    text-align: center;
    margin: 0 0 42px;
    width: 400px;
    padding: 0 20px;
    background-color: $color-text-on-primary;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.form-block__wraper {
  margin: 0 0 16px;

  @media (min-width: $tablet) {
    margin: 0 0 16px;
  }
}

.form-block--contact .form-block__wraper {
  margin: 0 0 10px;

  @media (min-width: $tablet) {
    margin: 0 0 22px;
  }
}

.form-block--contact .form-block__wraper:nth-of-type(2n) {
  @media (min-width: $desktop) {
    margin-left: 78px;
  }
}
