.form__block-impression {
  width: 100%;
  padding: 24px 6% 9px;
  border: none;
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);

  @media (min-width: $tablet) {
    width: 50%;
    padding: 0;
    border: none;
    border-right: 1px solid rgba(1, 1, 1, 0.2);
    margin-bottom: 82px;
  }
}

.form__radio-wraper {
  text-align: left;
  margin-bottom: 50px;

  @media (min-width: $tablet) {
    text-align: left;
  }
}

.form__radio-wraper:last-of-type {
  @media (min-width: $tablet) {
    margin-bottom: 0;
  }
}

.form__block-impression h2 {
  font: inherit;
  font-size: $font-size-heading-mobile;
  font-weight: bold;
  line-height: $line-height-heading;
  text-align: center;
  color: $color-heading;
  width: 285px;
  margin: 0 auto 32px;

  @media (min-width: $tablet) {
    font-size: $font-size-heading-tablet;
    text-align: left;
    width: 325px;
    margin: 0 0 67px;
  }

  @media (min-width: $desktop) {
    text-align: center;
    margin: 0 auto 60px;
  }
}

.radio {
  @include input-none;
}

.radio-label {
  @include radio-checkbox-label;

  @media (min-width: $desktop) {
    padding: 13px 0 0 84px;
  }
}

.radio-label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  width: 56px;
  height: 56px;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 50%;
}

.radio:checked + .radio-label::before {
  width: 56px;
  height: 56px;
  background:
    url("../img/icon-radio.svg") no-repeat,
    #f2f2f2;
  background-size: 33px 33px;
  background-position: center;
  border: 1px solid #f2f2f2;
  border-radius: 50%;
}
