.form__block-attractions {
  position: relative;
  width: 100%;
  padding: 24px 6% 0;
  border: none;
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);

  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: none;
    padding: 75px 9.25% 65px;

    border-top: 1px solid rgba(1, 1, 1, 0.2);
  }

  @media (min-width: $desktop) {
    justify-content: space-between;
    border-top: 1px solid rgba(1, 1, 1, 0.2);
    padding: 75px 10px 65px;
  }
}

.form__checkbox-wraper {
  text-align: start;
  width: 100%;
  margin: 0 0 40px 0;
  flex-grow: 1;

  @media (min-width: $tablet) {
    width: 50%;
    text-align: left;
    padding-left: 35px;
  }

  @media (min-width: $desktop) {
    width: 25%;
    text-align: center;
    padding: 0;
  }
}

.form__block-attractions h2 {
  font: inherit;
  font-size: $font-size-heading-mobile;
  font-weight: bold;
  line-height: $line-height-heading;
  color: $color-heading;
  text-align: center;
  width: 270px;
  margin: 0 auto 26px;

  @media (min-width: $tablet) {
    font-size: $font-size-heading-tablet;
    width: 440px;
    padding: 0 40px;
    background-color: $color-text-on-primary;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.checkbox {
  @include input-none;
}

.checkbox-label {
  @include radio-checkbox-label;

  width: 310px;
  padding-left: 30%;
}

.checkbox-label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  width: 56px;
  height: 56px;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 3px;
}

.checkbox:checked + .checkbox-label::before {
  width: 56px;
  height: 56px;
  background:
    url("../img/icon-tick.svg") no-repeat,
    #f2f2f2;
  background-position: center;
  border: 1px solid #f2f2f2;
  border-radius: 3px;
}
