.impression {
  width: 100%;
  padding: 18px 6% 1px 6.5%;
  border: none;
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);

  @media (min-width: $tablet) {
    width: 50%;
    padding: 0;
    border: none;
    border-right: 1px solid rgba(1, 1, 1, 0.2);
  }

  @media (min-width: $desktop) {
    padding-left: 3px;
  }
}

.impression__radio-wraper {
  padding-top: 1px;
  margin-bottom: 42px;

  @media (min-width: $tablet) {
    margin-bottom: 51px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 52px;
  }
}

.impression__radio-wraper:last-of-type {
  @media (min-width: $tablet) {
    padding-top: 1px;
    margin-bottom: 0;
  }
}

.impression h2 {
  font: inherit;
  font-size: $font-size-heading-mobile;
  font-weight: bold;
  line-height: $line-height-heading;
  text-align: center;
  color: $color-heading;
  width: 285px;
  margin: 0 auto 36px;

  @media (min-width: $tablet) {
    font-size: $font-size-heading-tablet;
    text-align: left;
    width: 325px;
    margin: 0 0 72px;
  }

  @media (min-width: $desktop) {
    text-align: center;
    margin: 0 auto 72px;
  }
}
