.radio {
  text-align: left;

  @media (min-width: $tablet) {
    text-align: left;
  }
}

.radio__input {
  @include input-none;
}

.radio__label {
  @include radio-checkbox-label;

  @media (min-width: $tablet) {
    padding: 14px 0 0 76px;
  }

  @media (min-width: $desktop) {
    padding: 14px 0 0 84px;
  }
}

.radio__label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  width: 56px;
  height: 56px;
  background-color: #f2f2f2;
  border-radius: 50%;
}

.radio__label:hover::before {
  background-color: #e5e5e5;
}

.radio__label:active::before {
  background-color: #d5d5d5;
}

.radio__input:checked + .radio__label::before {
  width: 56px;
  height: 56px;
  background:
    url("../img/icon-radio.svg") no-repeat,
    #f2f2f2;
  background-position: center;
  background-size: 33px 33px;
  border-radius: 50%;
}

.radio__input:checked + .radio__label:hover::before {
  background:
    url("../img/icon-radio.svg") no-repeat,
    #e5e5e5;
  background-position: center;
  background-size: 33px 33px;
}

.radio__input:checked + .radio__label:active::before {
  background:
    url("../img/icon-radio-active.svg") no-repeat,
    #d5d5d5;
  background-position: center;
  background-size: 33px 33px;
}

.radio__input:focus + .radio__label::before {
  box-shadow: 0 0 0 2px rgba(109, 167, 253, 0.993);
}
