.review {
  position: relative;
  width: 100%;
  padding: 18px 6% 44px;

  @media (min-width: $tablet) {
    border-top: 1px solid rgba(1, 1, 1, 0.2);
    padding: 70px 0 51px;
  }
}

.review h2 {
  font: inherit;
  font-size: $font-size-heading-mobile;
  font-weight: bold;
  line-height: $line-height-heading;
  text-align: center;
  color: $color-heading;
  width: 250px;
  margin: 0 auto 16px;

  @media (min-width: $tablet) {
    font-size: $font-size-heading-tablet;
    width: 400px;
    padding: 0 50px;
    background-color: $color-text-on-primary;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.review__textarea {
  font: inherit;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  width: 100%;
  min-height: 160px;
  border: transparent;
  border-radius: 0;
  background-color: #f2f2f2;
  padding: 18px 10px 12px 10px;
  resize: none;

  @media (min-width: $tablet) {
    padding: 18px 20px 12px;
  }

  @media (min-width: $desktop) {
    width: 960px;
  }

  &:hover {
    background-color: #e5e5e5;
  }

  &:focus {
    background-color: #ffffff;
    outline: 3px solid #e5e5e5;
  }
}
