.text-input {
  &--phone,
  &--mail {
    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      width: 56px;
      height: 57px;
    }
  }

  &--phone {
    position: relative;

    &::after {
      background:
        url("../img/icon-phone.svg") no-repeat center,
        #e6e6e6;
    }

    @media (min-width: $desktop) {
      display: flex;
      align-items: baseline;
      width: 401px;
    }
  }

  &--mail {
    position: relative;

    &::after {
      background:
        url("../img/icon-mail.svg") no-repeat center,
        #e6e6e6;
    }

    @media (min-width: $desktop) {
      display: flex;
      align-items: baseline;
      width: 480px;
    }
  }
}

.form-block--name .text-input {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.form-block--name .text-input:last-of-type {
  @media (min-width: $tablet) {
    margin-bottom: 0;
  }
}

.text-input__label {
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  margin: 0 auto 14px;

  @media (min-width: $tablet) {
    text-align: start;
    margin: 22px 0 0;
  }
}

.form-block--contact .text-input__label {
  margin: 0 0 0 22px;

  @media (min-width: $desktop) {
    margin: 0;
  }
}

.text-input__input {
  position: relative;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  height: 58px;
  color: #000000;
  background-color: #f2f2f2;
  border: transparent;
  border-radius: 0;
  padding: 18px 58px 14px 20px;
  margin: 8px 0 0;
  min-width: 176px;
  flex-grow: 1;

  @media (min-width: $tablet) {
    margin: 6px 0 0;
  }

  &:hover {
    background-color: #e5e5e5;
  }

  &:focus {
    background-color: #ffffff;
    outline: 3px solid #e5e5e5;
  }

  &:invalid {
    outline: 2px solid red;
  }
}

.form-block--contact > .text-input {
  @media (min-width: $desktop) {
    display: flex;
    justify-content: space-between;
  }
}

.form-block--name .text-input__input {
  padding: 18px 5px 14px 20px;
  margin: 4px 0 0 0;
}

.form-block--name .text-input__label {
  margin: 0 3.5% 0 0;
}

.form-block--contact .text-input__input {
  width: 100%;

  @media (min-width: $desktop) {
    max-width: 310px;
  }
}
