$palette-primary: #81b3d2;
$palette-secondary: #eeeeee;

$color-heading: #000000;
$color-paragraph: #333333;
$color-text-on-primary: #ffffff;

$font-size-heading: 18px;
$font-size-paragraph: 14px;

$mobile: 320px;
$tablet: 768px;
$desktop: 1200px;
