.header {
  position: relative;
  min-width: $mobile;
  background-color: #fefefe;

  @media (min-width: $tablet) {
    background-color: $color-text-on-primary;
  }

  @media (min-width: $desktop) {
    max-width: $desktop;
    margin: 0 auto;
  }
}

.header__nav {
  margin: 0;
}

.header__menu-toggle {
  min-width: $mobile;
  min-height: 56px;

  @media (min-width: $tablet) {
    display: none;
  }
}

.header__logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;

  @media (min-width: $tablet) {
    top: 0;
  }
}

.header__toggle {
  position: absolute;
  top: 15px;
  right: 20px;
}
