.header {
  position: relative;
  min-width: $mobile;
}

@media (min-width: $tablet) {
  .header {
    background-color: $color-text-on-primary;
  }
}

@media (min-width: $desktop) {
  .header {
    max-width: $desktop;
    margin: 0 auto;
  }
}

.header__nav {
  width: auto;
  padding: 0;
  margin: 0;
}

.header__menu-toggle {
  min-width: $mobile;
  min-height: 56px;
}

@media (min-width: $tablet) {
  .header__menu-toggle {
    display: none;
  }
}

.header__logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: $tablet) {
  .header__logo {
    top: 0;
  }
}

.header__toggle {
  position: absolute;
  top: 15px;
  right: 20px;
}
