  @media (max-width: $tablet) {
    .header {
      position: relative;
      width: $mobile;
    }
  }

@media (min-width: $tablet) {
  .header {
    width: $tablet;
  }
}

@media (min-width: $desktop) {
  .header {
    width: $desktop;
    margin: 0 auto;
  }
}

.header__nav {
  width: auto;
  padding: 0;
  margin: 0;
}

.header__menu-toggle {
  position: relative;
  width: $mobile;
  min-height: 58px;
  text-align: center;
}

.header__logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.header__toggle {
  position: absolute;
  top: 15px;
  right: 20px;
}

@media (min-width: $tablet) {
  .header__menu-toggle {
    width: auto;
  }
}
