.copyright {
  display: flex;
  justify-content: space-around;
  width: 140px;

  @media (min-width: $tablet) {
    margin: 0;
  }
}

.copyright p {
  font-size: $font-size-paragraph;
  margin-top: 2px;
}
