.logo {
  width: 102px;
  height: 83px;
  text-align: center;

  @media (min-width: $desktop) {
    width: 187px;
    height: 97px;
  }
}

.logo__img {
  @media (min-width: $desktop) {
    width: 187px;
    height: 97px;
  }
}
